.navbar {
    left: 0;
}

.navbar-items {
    text-decoration: none;
    margin: 0;
    padding: 0;
    padding-right: 50px;
    padding-left: 35px;
}

.navbar-name {
    display: inline;
    padding-left: 30px;
    font-weight: 600;
    color: #53C783;
}

.navbar-name-title {
    display: inline;
    color: #B4B4B4;
    font-size: 25px;
    font-weight: 400;
}
