.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.about-content {
    position: relative;
    bottom: 280px;
    left: 70px;
    width: 600px;
    border-radius: 12px;
    z-index: 1;
}

.about-background {
    position: relative;
    top: 250px;
    left: 50px;
    border-radius: 15px;
    width: 670px;
    z-index: 0;
}

.aboutme {
    color: #ffffff;
}

.about-header {
    position: relative;
    color: #53C783;
    top: -40px;
    left: 180px;
}
