/* Datacards */
.project-image {
    height: 275px;
    width: 400px;
}
    
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    border-radius: 5px;
}

/* Projects Page */
.projects {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.projects-header {
    color: #53C783;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-column {
    width: 30%;
    float: left;
    padding: 20px;
} 